<?xml version="1.0"?>
<config>
	<modules>
		<Mamoc_OpRekening>
			<version>1.0.0</version>
		</Mamoc_OpRekening>
	</modules>

	<global>

		<blocks>
			<oprekening>
				<class>Mamoc_OpRekening_Block</class>
			</oprekening>
		</blocks>

		<helpers>
			<oprekening>
				<class>Mamoc_OpRekening_Helper</class>
			</oprekening>
		</helpers>

		<models>
			<oprekening>
				<class>Mamoc_OpRekening_Model</class>
			</oprekening>
		</models>

		<events>
			<sales_model_service_quote_submit_after>
				<observers>
					<oprekening_model_observer>
						<type>singleton</type>
						<class>Mamoc_OpRekening_Model_Observer</class>
						<method>autoCreateInvoice</method>
					</oprekening_model_observer>
				</observers>
			</sales_model_service_quote_submit_after>
		</events>

	</global>

    <default>
        <payment>
            <oprekening>
                <active>0</active>
                <model>oprekening/oprekening</model>
                <order_status>processing</order_status>
                <title>Op Rekening</title>
                <allowspecific>0</allowspecific>
            </oprekening>
         </payment>
    </default>

</config>
